/* デフォルト設定 */
html, body{
	background-color:rgb(230, 230, 230);
	color:black;
	font-family: 'Shippori Mincho', serif;
	margin: 0px;
	font-size: 18px;
	text-align: center;
	line-height: 1.5;
}

img{
	width: 100%;
	height: auto;
}

h2{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Rationale', sans-serif;
	margin-bottom: 20px;
	/* padding-bottom: 40px; */
}

h3{
	font-weight: bold;
	margin-bottom: 20px;
}

span{
	font-size: 60%;
	color: rgb(120, 120, 220);
	font-family: 'Shippori Mincho', serif;
}

section{
	margin-top: 100px;
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

/* --------------------------- */
/*           ヘッダー           */
/* --------------------------- */
header{
	background-image: url(../img/top_img01.jpg);
	background-size: cover;
	background-position:center;
	height: 100vh;/*vh=viewport height;ビューポートの高さに対する割合*/
}

.header-black{
	height: 150px;
	background: linear-gradient(black,transparent);
	opacity: 0.9;
}

h1{
	font-size: 48px;
	font-weight: bold;
	font-family: 'Rationale', sans-serif;
	color: #fff;
	/*position:absolute;left:50%;, transform:translateX(-50%)で中央寄せ*/
	position: absolute;top: 20px;left: 50%;
	transform: translateX(-50%);
}
	@media screen and (max-width:960px) {
		h1{
			font-size: 40px;
		}
	}
	@media screen and (max-width:560px) {
		h1{
			font-size: 36px;
		}
	}

.nav-list{
	display: flex;
	justify-content: center;
	position: absolute;top: 100px;left: 50%;
	transform: translateX(-50%);
}

.nav-item{
	position: relative;
	font-family: 'Rationale', sans-serif;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-item:hover{
	color: rgb(120, 120, 220);
	text-shadow: #000 0 0 20px;
}

.nav-item::after{
	content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 110%;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background:rgb(120, 120, 220);
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

.nav-item:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.sample-slider{
	color: #fff;
	font-family:  'Rationale', sans-serif;
	margin-top: 50px;
}

.sample-letter-wrapper{
	display: flex;
	justify-content: center;
}

.sample-letter{
	animation-name:letterAnime;/*Keyframeで指定する名前*/
	animation-duration:3s;/*アニメーション1回あたりの時間*/
	animation-timing-function:ease-in-out;/*アニメーション進行速度*/
	animation-delay:0;/*アニメーション開始までの時間*/
	animation-iteration-count:infinite;/*繰り返しの回数*/
	animation-direction:normal;/*再生方向 normal;順方向、reverse;逆方向、alternative;順方向→逆方向、alternative-reverse;逆方向→順方向*/
	animation-fill-mode:forwards;/*アニメーション終了後のスタイル none;スタイル指定なし、forwards;最後のキーフレームのスタイルを適用、backwards;最初のキーフレームのスタイルを適用*/
	animation-play-state:running;/*running;再生、paused;停止*/
}
.sample-letter:nth-child(2){animation-delay:.2s;}
.sample-letter:nth-child(3){animation-delay:.4s;}
.sample-letter:nth-child(4){animation-delay:.6s;}
.sample-letter:nth-child(5){animation-delay:.8s;}
.sample-letter:nth-child(6){animation-delay:1.0s;}
@keyframes letterAnime{
	0% {
		transform: translateY(0) rotateY(0);
	}
	20% {
		transform: translateY(-10px) rotateY(360deg);
	}
	40% {
		transform: translateY(0) rotateY(0);
	}
	100% {
		transform: translateY(0) rotateY(0);
	}
}

.sample-text{
	font-family: 'Shippori Mincho', serif;
	font-size: 12px;
}

.sample-arrow{
	animation-name:arrowAnime;/*Keyframeで指定する名前*/
	animation-duration:.8s;/*アニメーション1回あたりの時間*/
	animation-timing-function:ease-in-out;/*アニメーション進行速度*/
	animation-delay:0;/*アニメーション開始までの時間*/
	animation-iteration-count:infinite;/*繰り返しの回数*/
	animation-direction:alternate;/*再生方向 normal;順方向、reverse;逆方向、alternative;順方向→逆方向、alternative-reverse;逆方向→順方向*/
	animation-fill-mode:forwards;/*アニメーション終了後のスタイル none;スタイル指定なし、forwards;最後のキーフレームのスタイルを適用、backwards;最初のキーフレームのスタイルを適用*/
	animation-play-state:running;/*running;再生、paused;停止*/
}
@keyframes arrowAnime{
	from {
		opacity: 0.8;
		transform: translateY(0);
	}
	to {
		opacity: 0.2;
		transform: translateY(10px) rotateY(180deg);
	}
}

.sample-list{
	margin: 0 auto;
	width: 900px;
}
	@media screen and (max-width:960px) {
		.sample-list{
			margin: 0 5%;
			width: 90%;
		}
	}

.sample-item{
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
.sample-icon{
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(0.08, transparent),to(transparent));
	border-radius: 5px;
	border: #fff 1px solid;

}

.slick-slide{
	padding-top: 20px; /*中央スライドを拡大すると見切れるので調整*/
	padding-bottom: 50px; /*中央スライドを拡大すると見切れるので調整*/
	filter: grayscale(100%) blur(2px);
}
.slick-current{ /*スライダ―中央のサイズを拡大 ※.jsのcenterModeをtrueに*/
	transform: scale(1.1);
	z-index: 99;
	position: relative; /* z-indexと組み合わせで中央スライドを最前面に*/
	filter: grayscale(0%);
}
@media screen and (max-width:960px) {
	.slick-slide{
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.slick-current{
		transform: scale(1);
	}
}

.sample-icon-detail{
	position: absolute;top:30%;left:0;
	width: 100%;
	background:#000;
	opacity: 0;
	font-family: 'Shippori Mincho', serif;
}
.sample-icon-detail:hover{
	opacity: 0.6;
}
.comingSoon{
	position: absolute;top:37%;
	width: 100%;
	height: 40px;
	background:rgb(120, 120, 220);
	padding-top: 8px;
	opacity: .8;
}

/* --------------------------- */
/*            メイン            */
/* --------------------------- */

.profile-wrap{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: 10%;
	margin-right: 10%;
	/* アニメーション用 */
	transition: 1s;
	transform: translateY(50px);
    opacity: 0;
}

.profile-wrap.is-active{
	transition: 1s;
    transform: translateY(0);
    opacity: 1;
}

.profile-img{
	max-width: 300px;
	border-radius: 5px;
	box-shadow: #333 2px 3px 15px;
}
@media screen and (max-width:560px) {
	.profile-img{
		display: none;
	}
}

.profile-text{
	text-align: left;
	margin-left: 40px;
}

.name{
	font-size: 24px;
	font-weight: bold;
}

.name span{
	font-family: 'Rationale', sans-serif;
	font-weight: bold;
}

.introduction{
	margin-top: 10px;
}

.skill-list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.skill-item{
	transition: 1s;
	transform: translateY(50px);
	/* transform:translate(150px,150px) rotate(-15deg); */
    opacity: 0;
}

.skill-item.is-active{
	transition: 1s;
	transform: translateY(0);
	/* transform:translate(0,0) rotate(0); */
    opacity: 1;
}
.skill-icon{
	max-width: 500px;
	height: 200px;
	border-radius: 10px;
	box-shadow: #333 2px 3px 15px;
	display: flex;
	align-items:flex-start;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 20px;
}

.skill-img{
	width: 160px;
	border-radius: 10px;
}

.skill-text-title{
	font-family: 'Rationale', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}

.skill-detail{
	text-align: left;
	padding-left: 20px;
	font-size: 16px;
}

.wrapper{
	margin-left: 5%;
	margin-right: 5%;

	transition: 1s;
	transform:translateY(50px);
    opacity: 0;
}

.wrapper.is-active{
	transition: 1s;
	transform:translateY(0);
    opacity: 1;
}
/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tab li a{
	display: block;
	background:rgb(199, 199, 199);
	margin:0 2px;
	padding:10px 20px;
	box-shadow: #333 2px 3px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background-color:rgb(230, 230, 230);
	position: relative;
}

.tab li.active a::after{
	content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 70%;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 40px;
	z-index: 999;
	background-color:rgb(230, 230, 230);
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	padding:50px 5px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
	display: block;/*表示*/
	border-radius: 10px;
	box-shadow: #333 2px 3px 15px;
	height: auto;
	position: relative;
}
.area.is-active::after{
	content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 0;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 40px;
	z-index: 999;
	background-color:rgb(230, 230, 230);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.works-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.works-item{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}
.works-backGroundImage{
	background-position: center;
	background-size: contain;
	display: block;
	width: 400px;
	height: 250px;
	filter: grayscale(100%);
	border-radius: 5px;
	transition: all .5s ease-in-out;
}
.works-item:nth-child(1) .works-backGroundImage{background-image: url(../img/sample01.jpg);}
.works-item:nth-child(2) .works-backGroundImage{background-image: url(../img/sample02.jpg);}
.works-item:nth-child(3) .works-backGroundImage{background-image: url(../img/sample03.jpg);}
.works-backGroundImage:hover{
	background-size: 120%;
	filter: grayscale(0);
}

.works-item:nth-child(2) a{
	position: relative;
}
.works-item:nth-child(2) a::after{
	content: 'Coming Soon';
	font-size: 16px;
	font-family:'Rationale', sans-serif;
	color: white;
	padding-top:8px;
	text-align: center;
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 105px;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 40px;
    background:rgb(120, 120, 220);
	opacity: 0.8;
	z-index: 999;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center;/*中央基点*/
}
.works-item:nth-child(2) a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.works-detail{
	font-size: 16px;
	flex: 1;
}

.contact-text{
	margin-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

.fa-envelope{
	font-size: 40px;
}

.e-mail{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.e-mail:hover{
	color:rgb(120, 120, 220);
}

.address{
	margin-left: 10px;
}

.tentative-caution{
	color: red;
	margin-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

.sns-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.sns-list.left{
	justify-content:left;
	margin-top: 10px;
}

.sns-icon{
	font-size: 40px;
	text-shadow: rgb(120, 120, 120) 2px 3px 3px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

.sns-icon:hover{
	color:rgb(120, 120, 220);
}

.sns-icon:nth-child(n+2)::after{
	content: 'Coming Soon';
	font-size: 16px;
	font-family:'Rationale', sans-serif;
	color: white;
	padding-top:8px;
	text-align: center;
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 20%;
    left: -30px;
    /*線の形状*/
    width: 100px;
    height: 40px;
    background:rgb(94, 94, 94);
	opacity: 0.8;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center;/*中央基点*/
}

.sns-icon:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/* --------------------------- */
/*           フッター           */
/* --------------------------- */
footer{
	background-image: url(../img/top_img02.jpg);
	background-size: cover;
	background-position:bottom;
	margin-top: 50px;
	color: white;
}
.footer-list{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Rationale', sans-serif;
	font-weight: bold;
}

.footer-item{
	position: relative;
}

.footer-item:hover{
	color: rgb(120, 120, 220);
	text-shadow: #000 0 0 20px;
}

.footer-item:nth-child(n+2){
	margin-left: 40px;
}

.footer-item::after{
	content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 110%;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background:rgb(120, 120, 220);
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

.footer-item:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.copyright{
	padding-bottom: 50px;
	font-size: 14px;
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgb(121, 121, 121);
	box-shadow: #333 2px 3px 15px;
	opacity: 0.9;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	transition:all 0.3s;
}

#page-top a:hover{
	background-color: rgb(204, 204, 204);
}
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 15px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
	font-family: 'Rationale', sans-serif;
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(100px);
	}
}

/*========= スクロール ===============*/
/*リンクの形状*/
#scroll{
	position: absolute;top:80vh;/*vh=viewport height;ビューポートの高さに対する割合*/
	left: 50%;
	transform: translateX(-200%);
	font-family: 'Rationale', sans-serif;
	color: white;
	text-align: center;
	animation-name:scrollAnime;/*Keyframeで指定する名前*/
	animation-duration:.8s;/*アニメーション1回あたりの時間*/
	animation-timing-function:ease-in-out;/*アニメーション進行速度*/
	animation-delay:0;/*アニメーション開始までの時間*/
	animation-iteration-count:infinite;/*繰り返しの回数*/
	animation-direction:alternate;/*再生方向 normal;順方向、reverse;逆方向、alternative;順方向→逆方向、alternative-reverse;逆方向→順方向*/
	animation-fill-mode:forwards;/*アニメーション終了後のスタイル none;スタイル指定なし、forwards;最後のキーフレームのスタイルを適用、backwards;最初のキーフレームのスタイルを適用*/
	animation-play-state:running;/*running;再生、paused;停止*/
}
#scroll a{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: rgb(121, 121, 121);
	box-shadow: #333 2px 3px 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #fff;
}
@keyframes scrollAnime{
	from {
		opacity: 0.8;
		transform: translateY(0) translateX(-50%);
	}
	to {
		opacity: 0.2;
		transform: translateY(30px) translateX(-50%);
	}
}

